<div class="container page-content">
  <div class="row">
    <div class="span8">
      <div class="box-container">
        <div class="padding30">
          <h2 class="page-title">Edit center</h2>
          <%= render 'form' %>
        </div>
      </div>
    </div>
    <!-- .span4 -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->
