<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="footer-widget">
          <h2 class="brand widget-title"><%= link_to (image_tag 'logo-white.png'), root_path, class: "brand logo-text" %></h2>
          <p>Find & Review Asian Massage...</p>
        </div>
        <!-- .footer-company-info -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">We're social</h3>
          <div class="clearfix">
            <ul>
              <li class="clearfix">
                <i class="icon-envelope-alt pull-left"></i>
                <p class="pull-left"><a href="#">support@joopstar.com</a></p>
              </li>
              <li class="clearfix">
                <%= link_to image_tag('fb.png'), 'https://www.facebook.com/joopstars', target: "_blank" %>
                <%= link_to image_tag('ig.png'), 'https://www.instagram.com/joopstars', target: "_blank" %></li>
                <br />
            </ul>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .footer-widget -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">Search</h3>
          <ul>
            <li>
              <i class="icon-caret-right"></i>
              <a title="Home" href="#">Most Popular</a></li>
            <li>
              <i class="icon-caret-right"></i>
              <a title="About Us" href="#">About Us</a></li>
            <li>
              <i class="icon-caret-right"></i>
              <a title="Properties" href="#">Contact</a></li>
            <li>
              <i class="icon-caret-right"></i>
              <a title="Agents" href="#">Advertise</a></li>
          </ul>
        </div>
        <!-- .footer-widget -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">Flickr</h3>
          <div class="flickr-widget">
            <ul>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="images/flickr-01.jpg" /></a></li>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="images/flickr-02.jpg" /></a></li>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="images/flickr-03.jpg" /></a></li>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="images/flickr-04.jpg" /></a></li>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="images/flickr-05.jpg" /></a></li>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="images/flickr-06.jpg" /></a></li>
            </ul>
          </div>
          <!-- .flickr-widget -->
        </div>
        <!-- .footer-widget -->
      </div>
      <!-- .span3 -->
    </div>
  </div>
</footer>